$color-primary: rgb(56, 56, 56);
$color-secondary: #56585a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$box: 0 0 1rem .4rem #34495e;


// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

// MEDIA QUERIES

$bp-medium: 69em;
$bp-medium-small: 57em;
$bp-small: 50em;
$bp-smaller: 43em;
$bp-mobile: 25em;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-color: $color-primary;
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen  and (max-width: $bp-medium) {
        font-size: 56%;
    }

    @media only screen  and (max-width: $bp-small) {
        font-size: 50%;
    }

    @media only screen  and (max-width: $bp-smaller) {
        font-size: 45%;
    }
}


body {
    font-family: $font-primary;
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
}


.container {
    display: grid;
    grid-template-rows: 3rem 90vh; 

    grid-template-columns: [full-start] 1fr [center-start] repeat(8, 
    [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

}

footer {
    display: flex;
    grid-row: 7rem;
    grid-column: 1 / -1;
    font-size: 1.2rem;
    background-color: #111;
}


// ANIMAÇÕES

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes pulsate {

    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.1);
        color: rgb(25, 25, 216);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }

}

