.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url(../img/my.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;

    &__title {
        margin-left: 5rem;
        font-size: 8rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 100;
    
        animation: moveInRight 1.6s;
        animation-delay: .1s;
    }

    &__sub-title {
        margin-bottom: -3rem;
        margin-left: -5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 700;

        animation: moveInLeft 1.6s;
        animation-delay: .1s;
    }

    &__btn {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border: none;
        color: #599ee4;
        cursor: pointer;
        transition: all .2s;
        animation: pulsate 1s infinite;
    }
}
