
.social {

    display: flex;
    align-items: start;
    justify-content: end;

    margin-right: -20rem;
    
    & > * {
        cursor: pointer;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    &__icon-box {
        animation: pulsate 1s infinite;

        font-size: 2.5rem;
    }
    
    &__icon { 
      
        &--2 {
            color: #34af23;
        }

        &--1 {
            color: #517fa4;
        }

        &--3 {
            color: #007bb6;
        }
    }
}

